.footer {
    background: #00843e;
    color: #ffffff;
    min-height: 100px;
    padding: 30px 0;
    flex: 0 0 auto;
}

.footerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerRow:first-child {
    margin-bottom: 15px;
}

.footerRowItem {
    color: #ffffff;
}

.footerRowItem:last-child {
    text-align: end;
}

.footerHr {
    margin-top: 40px;
    margin-bottom: 10px;
    border-color: #ffffff;
}

.footerSocialLinks {
    display: flex;
}

.footerSocialLink {
    width: 45px;
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.footerSocialLink:nth-child(2) {
    margin: 0 10px;
}

.footerSocialLink img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .footerRow {
        flex-direction: column;
    }
    .footerRow:first-child {
        margin-bottom: 30px;
    }
    .footerRowItem:not(:last-child) {
        margin-bottom: 30px;
    }
    .footerRowItem:last-child {
        text-align: center;
    }
}


.footerRowText {
    color: #ffffff;
    display: block;
}

.footerRowText:not(:last-child) {
    margin-bottom: 10px;
}

.footerRowItem:hover, .footerRowLink:hover, .footerRowText:hover {
    color: #ffffff;
}

.footerRowCenter {
    margin-left: 1%;
}

.footerRowCenter a {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
}

.footerRowRight {
    margin-right: 5%;
}

@media screen and (max-width: 1023px) {
    .footerRowRight {
        margin-right: 7%;
    }
}

@media screen and (max-width: 767px) {
    .footerRowCenter {
        margin-left: 0;
    }
    .footerRowRight {
        margin-right: 0;
    }
    .footerSocialLink {
        width: 64px;
    }
    .footerSocialLink:nth-child(2) {
        margin: 0 15px;
    }
}

.footerRowYear {
    margin-top: 10px;
}