html, body, #root {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

input, textarea {
    border-radius: 4px;
    padding: 20px;
    color: #1d1d1b;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
}

.container {
    max-width: 1200px;
    overflow-x: hidden;
    margin: 0 auto;
}

.section {
    padding: 20px 0;
}

@media screen and (max-width: 1220px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

a {
    text-decoration: none;
    color: #1d1d1b;
    transition: 0.3s ease;
}

a:hover {
    color: #009b47;
    transition: 0.3s ease;
}

::placeholder {
    color: #9f9f9f;
    font-size: 0.875rem;
}